In [1]:
# Importing All the Libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### 1. Importing All the Libraries & Reading Dataset

In [2]:
# Reading the CSV
dataset = pd.read_csv('Churn_Modelling.csv') 
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

### 2. Splitting Dataset into dependent(y) and independent(x)

In [3]:
# Splitting dataset into dependent and independent
X = dataset.iloc[:,3:13]
Y = dataset.iloc[:,13]

In [4]:
# Printing independent variables
print(X)

      CreditScore Geography  Gender  Age  Tenure    Balance  NumOfProducts  \
0             619    France  Female   42       2       0.00              1
1             608     Spain  Female   41       1   83807.86              1
2             502    France  Female   42       8  159660.80              3
3             699    France  Female   39       1       0.00              2
4             850     Spain  Female   43       2  125510.82              1
...           ...       ...     ...  ...     ...        ...            ...
9995          771    France    Male   39       5       0.00              2
9996          516    France    Male   35      10   57369.61              1
9997          709    France  Female   36       7       0.00              1
9998          772   Germany    Male   42       3   75075.31              2
9999          792    France  Female   28       4  130142.79              1

      HasCrCard  IsActiveMember  EstimatedSalary
0             1               1        101348.88
1             0               1        112542.58
2             1               0        113931.57
3             0               0         93826.63
4             1               1         79084.10
...         ...             ...              ...
9995          1               0         96270.64
9996          1               1        101699.77
9997          0               1         42085.58
9998          1               0         92888.52
9999          1               0         38190.78

[10000 rows x 10 columns]

In [5]:
# Printing dependent variables
print(Y)

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

### 3. Changing Categorical data into numericals using encording method

In [6]:
# Importing Encoding libraries
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

#### 3.1 Using Label Encoding

In [7]:
# Lebel Encoding for Gender column 
labelencoder = LabelEncoder()
X['Gender'] = labelencoder.fit_transform(X['Gender'])
print(X)

      CreditScore Geography  Gender  Age  Tenure    Balance  NumOfProducts  \
0             619    France       0   42       2       0.00              1
1             608     Spain       0   41       1   83807.86              1
2             502    France       0   42       8  159660.80              3
3             699    France       0   39       1       0.00              2
4             850     Spain       0   43       2  125510.82              1
...           ...       ...     ...  ...     ...        ...            ...
9995          771    France       1   39       5       0.00              2
9996          516    France       1   35      10   57369.61              1
9997          709    France       0   36       7       0.00              1
9998          772   Germany       1   42       3   75075.31              2
9999          792    France       0   28       4  130142.79              1

      HasCrCard  IsActiveMember  EstimatedSalary
0             1               1        101348.88
1             0               1        112542.58
2             1               0        113931.57
3             0               0         93826.63
4             1               1         79084.10
...         ...             ...              ...
9995          1               0         96270.64
9996          1               1        101699.77
9997          0               1         42085.58
9998          1               0         92888.52
9999          1               0         38190.78

[10000 rows x 10 columns]

#### 3.2 Using One Hot Encoding

In [8]:
# One hot encoding for Geography column
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([('ohe', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X), dtype = np.str) #.toarray()
print(X)

[['1.0' '0.0' '0.0' ... '1.0' '1.0' '101348.88']
 ['0.0' '0.0' '1.0' ... '0.0' '1.0' '112542.58']
 ['1.0' '0.0' '0.0' ... '1.0' '0.0' '113931.57']
 ...
 ['1.0' '0.0' '0.0' ... '0.0' '1.0' '42085.58']
 ['0.0' '1.0' '0.0' ... '1.0' '0.0' '92888.52']
 ['1.0' '0.0' '0.0' ... '1.0' '0.0' '38190.78']]

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  after removing the cwd from sys.path.

In [9]:
X = X[:, 1:]
print(X)

[['0.0' '0.0' '619.0' ... '1.0' '1.0' '101348.88']
 ['0.0' '1.0' '608.0' ... '0.0' '1.0' '112542.58']
 ['0.0' '0.0' '502.0' ... '1.0' '0.0' '113931.57']
 ...
 ['0.0' '0.0' '709.0' ... '0.0' '1.0' '42085.58']
 ['1.0' '0.0' '772.0' ... '1.0' '0.0' '92888.52']
 ['0.0' '0.0' '792.0' ... '1.0' '0.0' '38190.78']]

### 4. Splitting data into train and test

In [10]:
# Splitting data into train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y,
                                    test_size = 0.2, random_state = 0)

### 5. Features Scaling

In [11]:
# Scaling features
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [12]:
print(X_train)

[[-0.5698444   1.74309049  0.16958176 ...  0.64259497 -1.03227043
   1.10643166]
 [ 1.75486502 -0.57369368 -2.30455945 ...  0.64259497  0.9687384
  -0.74866447]
 [-0.5698444  -0.57369368 -1.19119591 ...  0.64259497 -1.03227043
   1.48533467]
 ...
 [-0.5698444  -0.57369368  0.9015152  ...  0.64259497 -1.03227043
   1.41231994]
 [-0.5698444   1.74309049 -0.62420521 ...  0.64259497  0.9687384
   0.84432121]
 [ 1.75486502 -0.57369368 -0.28401079 ...  0.64259497 -1.03227043
   0.32472465]]

In [13]:
import pandas as pd
pd.DataFrame(X_train)

,0,1,2,3,4,5,6,7,8,9,10
0,-0.569844,1.743090,0.169582,-1.091687,-0.464608,0.006661,-1.215717,0.809503,0.642595,-1.032270,1.106432
1,1.754865,-0.573694,-2.304559,0.916013,0.301026,-1.377440,-0.006312,-0.921591,0.642595,0.968738,-0.748664
2,-0.569844,-0.573694,-1.191196,-1.091687,-0.943129,-1.031415,0.579935,-0.921591,0.642595,-1.032270,1.485335
3,-0.569844,1.743090,0.035566,0.916013,0.109617,0.006661,0.473128,-0.921591,0.642595,-1.032270,1.276528
4,-0.569844,1.743090,2.056114,-1.091687,1.736588,1.044737,0.810193,0.809503,0.642595,0.968738,0.558378
...,...,...,...,...,...,...,...,...,...,...,...
7995,1.754865,-0.573694,-0.582970,-1.091687,-0.656016,-0.339364,0.703104,0.809503,0.642595,0.968738,1.091330
7996,-0.569844,1.743090,1.478815,-1.091687,-1.613058,-0.339364,0.613060,-0.921591,0.642595,0.968738,0.131760
7997,-0.569844,-0.573694,0.901515,0.916013,-0.368904,0.006661,1.361474,0.809503,0.642595,-1.032270,1.412320
7998,-0.569844,1.743090,-0.624205,-1.091687,-0.081791,1.390762,-1.215717,0.809503,0.642595,0.968738,0.844321
7999,1.754865,-0.573694,-0.284011,-1.091687,0.875251,-1.377440,0.511364,-0.921591,0.642595,-1.032270,0.324725

### 6. Creating ANN Model

In [14]:
# Importing all libraries

from tensorflow.keras.models import Sequential 
#from keras.models import Sequential
from keras.layers import Dense


classifier = Sequential()

In [15]:
# Input layer and hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu', input_dim = 11))
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))

In [16]:
# Output layer
classifier.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))

In [18]:
# Compiling ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [19]:
# ANN fitting
classifier.fit(X_train, y_train, batch_size = 10, epochs = 100)

Epoch 1/100
WARNING:tensorflow:AutoGraph could not transform <function Model.make_train_function.<locals>.train_function at 0x000001C3DE25ED38> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: 'arguments' object has no attribute 'posonlyargs'
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert
WARNING: AutoGraph could not transform <function Model.make_train_function.<locals>.train_function at 0x000001C3DE25ED38> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: 'arguments' object has no attribute 'posonlyargs'
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert
800/800 [==============================] - 4s 2ms/step - loss: 0.4825 - accuracy: 0.7971
Epoch 2/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4117 - accuracy: 0.8234
Epoch 3/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3973 - accuracy: 0.8279
Epoch 4/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3872 - accuracy: 0.8317
Epoch 5/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3796 - accuracy: 0.8316
Epoch 6/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3740 - accuracy: 0.8431
Epoch 7/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3701 - accuracy: 0.8466
Epoch 8/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3673 - accuracy: 0.8475
Epoch 9/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3640 - accuracy: 0.8493
Epoch 10/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3616 - accuracy: 0.8493
Epoch 11/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3590 - accuracy: 0.8551
Epoch 12/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3581 - accuracy: 0.8554
Epoch 13/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3574 - accuracy: 0.8541
Epoch 14/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3560 - accuracy: 0.8555
Epoch 15/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3555 - accuracy: 0.8534
Epoch 16/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3550 - accuracy: 0.8546
Epoch 17/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3543 - accuracy: 0.8564
Epoch 18/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3535 - accuracy: 0.8558
Epoch 19/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3527 - accuracy: 0.8572
Epoch 20/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3524 - accuracy: 0.8558
Epoch 21/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3522 - accuracy: 0.8579
Epoch 22/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3508 - accuracy: 0.8554
Epoch 23/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3507 - accuracy: 0.8577
Epoch 24/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3501 - accuracy: 0.8581
Epoch 25/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3510 - accuracy: 0.8545
Epoch 26/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3498 - accuracy: 0.8570
Epoch 27/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3488 - accuracy: 0.8571
Epoch 28/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3490 - accuracy: 0.8572
Epoch 29/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3481 - accuracy: 0.8575
Epoch 30/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3484 - accuracy: 0.8581
Epoch 31/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3471 - accuracy: 0.8594
Epoch 32/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3465 - accuracy: 0.8590
Epoch 33/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3461 - accuracy: 0.8601
Epoch 34/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3445 - accuracy: 0.8586
Epoch 35/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3442 - accuracy: 0.8611
Epoch 36/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3434 - accuracy: 0.8586
Epoch 37/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3444 - accuracy: 0.8590
Epoch 38/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3431 - accuracy: 0.8627
Epoch 39/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3422 - accuracy: 0.8606
Epoch 40/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3436 - accuracy: 0.8583
Epoch 41/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3425 - accuracy: 0.8586
Epoch 42/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3419 - accuracy: 0.8609
Epoch 43/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3416 - accuracy: 0.8595
Epoch 44/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3413 - accuracy: 0.8619
Epoch 45/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3414 - accuracy: 0.8622
Epoch 46/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3411 - accuracy: 0.8595
Epoch 47/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3413 - accuracy: 0.8572
Epoch 48/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3402 - accuracy: 0.8594
Epoch 49/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3402 - accuracy: 0.8615
Epoch 50/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3405 - accuracy: 0.8596
Epoch 51/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3409 - accuracy: 0.8597
Epoch 52/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3389 - accuracy: 0.8605
Epoch 53/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3411 - accuracy: 0.8621
Epoch 54/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3407 - accuracy: 0.8605
Epoch 55/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3388 - accuracy: 0.8596
Epoch 56/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3391 - accuracy: 0.8614
Epoch 57/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3400 - accuracy: 0.8601
Epoch 58/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3404 - accuracy: 0.8605
Epoch 59/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3391 - accuracy: 0.8590
Epoch 60/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3389 - accuracy: 0.8622
Epoch 61/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3393 - accuracy: 0.8602
Epoch 62/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3385 - accuracy: 0.8627
Epoch 63/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3389 - accuracy: 0.8597
Epoch 64/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3387 - accuracy: 0.8602
Epoch 65/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3391 - accuracy: 0.8621
Epoch 66/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3392 - accuracy: 0.8625
Epoch 67/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3377 - accuracy: 0.8616
Epoch 68/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3385 - accuracy: 0.8633
Epoch 69/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3386 - accuracy: 0.8597
Epoch 70/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3391 - accuracy: 0.8597
Epoch 71/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3386 - accuracy: 0.8599
Epoch 72/100

800/800 [==============================] - 1s 1ms/step - loss: 0.3377 - accuracy: 0.8616
Epoch 73/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3370 - accuracy: 0.8610
Epoch 74/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3378 - accuracy: 0.8618
Epoch 75/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3377 - accuracy: 0.8620
Epoch 76/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3378 - accuracy: 0.8612
Epoch 77/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3382 - accuracy: 0.8627
Epoch 78/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3375 - accuracy: 0.8597
Epoch 79/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3377 - accuracy: 0.8597
Epoch 80/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3363 - accuracy: 0.8631
Epoch 81/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3372 - accuracy: 0.8600
Epoch 82/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3370 - accuracy: 0.8625
Epoch 83/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3372 - accuracy: 0.8606
Epoch 84/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3365 - accuracy: 0.8620
Epoch 85/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3365 - accuracy: 0.8608
Epoch 86/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3371 - accuracy: 0.8618
Epoch 87/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3375 - accuracy: 0.8618
Epoch 88/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3364 - accuracy: 0.8621
Epoch 89/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3370 - accuracy: 0.8630
Epoch 90/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3363 - accuracy: 0.8629
Epoch 91/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3377 - accuracy: 0.8606
Epoch 92/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3367 - accuracy: 0.8615
Epoch 93/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3373 - accuracy: 0.8614
Epoch 94/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3368 - accuracy: 0.8633
Epoch 95/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3361 - accuracy: 0.8619
Epoch 96/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3368 - accuracy: 0.8627
Epoch 97/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3366 - accuracy: 0.8621
Epoch 98/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3362 - accuracy: 0.8633
Epoch 99/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3359 - accuracy: 0.8615
Epoch 100/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3364 - accuracy: 0.8608

### 7. Predicting the test results

In [20]:
# Checking the prediction
y_pred = classifier.predict(X_test)
print(y_pred)

WARNING:tensorflow:AutoGraph could not transform <function Model.make_predict_function.<locals>.predict_function at 0x000001C3DF39DEE8> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: 'arguments' object has no attribute 'posonlyargs'
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert
WARNING: AutoGraph could not transform <function Model.make_predict_function.<locals>.predict_function at 0x000001C3DF39DEE8> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: 'arguments' object has no attribute 'posonlyargs'
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert
[[0.14164385]
 [0.28355336]
 [0.12976155]
 ...
 [0.23886457]
 [0.08238849]
 [0.22971523]]

In [21]:
# More than 0.5 equal to 1 else 0
y_pred = (y_pred > 0.5)
print(y_pred)

[[False]
 [False]
 [False]
 ...
 [False]
 [False]
 [False]]

In [22]:
# Confusion Matrix
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test,y_pred)

[[1529   66]
 [ 214  191]]

0.86